<div class="container">
  <h2 class="display-4 title"><%= @task.title %></h2>
  <div class="card details">
    <p><%= @task.details %></p>
  </div>
  <div class="card">
    <p>
      <% if @task.completed %>
      <input type="checkbox" id="completed" checked>
      <label for="completed"> This task is completed</label>
      <% else %>
      <input type="checkbox" id="completed">
      <label for="completed"> This task is not completed yet</label>
      <% end %>
    </p>
  </div>
  <%= link_to "Back to list", tasks_path %>
</div>
