// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul{
  list-style-type: none;
  padding-left: 0px;
}

li{
  padding-bottom: 5px;
}

i{
  color: #007bff;
}

.task-detail {
  background-color: #e2e2e2 !important;
  margin-bottom: 15px;
  border: gray solid 1px;
}

.form-check-inline{
  margin: 15px 0px 10px 5px;
}
